* {
    margin: 0rem;
    padding: 0rem;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --navHover: rgb(219, 84, 34);
    --text: rgb(241, 241, 241);
    --movieCard: 10px;
    --movieSizeW: 340px;
    --movieSizeH: 180px;
}

.bg {
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100vw;
    height: 130vh;
    z-index: -20;
    background-size: cover;
    background-image: url(https://videos.voxe.tv/images/0f2c4051-7e84-4e16-b6c5-7a70957351f9_type.jpg);
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    max-height: 6rem;
    width: 100vw;
    z-index: 1;
    -webkit-box-shadow: 0px 64px 12px -7px rgba(0, 0, 0, 0.39) inset;
    -moz-box-shadow: 0px 64px 12px -7px rgba(0, 0, 0, 0.39) inset;
    box-shadow: 0px 64px 12px -7px rgba(0, 0, 0, 0.39) inset;
}
/* скролл не будет виден */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* это две части нава */
.box1 , .box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem 5rem;
    height: 5rem;
    width: 25rem;
    color: var(--text);
}
/* это лого. Временное */
.Logo {
    margin: 1rem;
    height: 2.5rem;
}
/* это кнопка для перехода на другие страници */
.Pages {
    cursor: pointer;
    border: 0;
    color: var(--text);
    background-color: transparent;
    
}

.promo , .main {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

.promo {
    color: white;
    text-decoration: none;
}
/* почти все ховеры */
.promo:hover , .Pages:hover, .main:hover, .account:hover, .search:hover, .bell:hover, .gift:hover{
    color: var(--navHover);
}
a {
    color: white;
}
.con{
    display: flex;
    justify-content: space-between;
    width: 12rem;
}
.break {
    transform: scaleY(1.7);
    cursor: default;
}
.gift , .container , .account{
    transform: scale(1.5);
    color: var(--text);
    text-decoration: none;
}
.bell , .search{
    color: var(--text);
}
.container {
    display: flex;
    justify-content: space-between;
    width: 4rem;
}
section {
    display: block;
    width: 100vw;
    height: 60rem;
}
.new, .films, .series{ 
    display: flex;
    align-items: center;
    width: 100vw;
    height: 20rem;
    overflow:scroll;
    background-color: black;
}

.card {
    /* 320 180 */
    height: var(--movieSizeH);
    width: var(--movieSizeW);
    margin-left: 1rem;
    border-radius: var(--movieCard);
}

.newTitle {
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
}
.watch , .more {
    height: 3rem;
    width: 12rem;
    padding: 0.8rem 2.4rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: 0px;
    font-size:medium;
    border-radius: 10px;
    color: black;
    background-color: white;
}
.more {
    color: white;
    background-color: rgba(167, 167, 167, 0.493);
}
.more:hover {
    cursor: pointer;
    background-color: rgba(116, 116, 116, 0.493);
}
.watch:hover {
    cursor: pointer;
    background-color: rgb(148, 148, 148);
}
footer {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 22rem;
    z-index: 20;
    background-color: rgb(17, 16, 16);
}